<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myProjetLabel">Create or edit a Projet</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!projet.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="projet.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_nom">Nom</label>
            <input type="text" class="form-control" name="nom" id="field_nom"
                [(ngModel)]="projet.nom" required/>
            <div [hidden]="!(editForm.controls.nom?.dirty && editForm.controls.nom?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nom?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_nomCourt">Nom Court</label>
            <input type="text" class="form-control" name="nomCourt" id="field_nomCourt"
                [(ngModel)]="projet.nomCourt" required/>
            <div [hidden]="!(editForm.controls.nomCourt?.dirty && editForm.controls.nomCourt?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nomCourt?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_image">Image</label>
            <div>
                <img [src]="'data:' + projet.imageContentType + ';base64,' + projet.image" style="max-height: 100px;" *ngIf="projet.image" alt="projet image"/>
                <div *ngIf="projet.image" class="form-text text-danger clearfix">
                    <span class="pull-left">{{projet.imageContentType}}, {{byteSize(projet.image)}}</span>
                    <button type="button" (click)="clearInputImage('image', 'imageContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_image" (change)="setFileData($event, projet, 'image', true)" accept="image/*"/>
            </div>
            <input type="hidden" class="form-control" name="image" id="field_image"
                [(ngModel)]="projet.image" />
            <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
                [(ngModel)]="projet.imageContentType" />
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_client">Client</label>
            <select class="form-control" id="field_client" name="client" [(ngModel)]="projet.client" >
                <option [ngValue]="null"></option>
                <option [ngValue]="clientOption.id === projet.client?.id ? projet.client : clientOption" *ngFor="let clientOption of clients; trackBy: trackClientById">{{clientOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
