<div>
    <h2>
        <span>Donnee Personnelles</span>
        <button class="btn btn-primary float-right jh-create-entity create-donnee-personnelle" [routerLink]="['/', { outlets: { popup: ['donnee-personnelle-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Donnee Personnelle
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="donneePersonnelles">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nom"><span>Nom</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="categorieFonctionnelle"><span>Categorie Fonctionnelle</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="categorieRGPD"><span>Categorie RGPD</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="source"><span>Source</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="vulnerable"><span>Vulnerable</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="destinataire"><span>Destinataire</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="natureTransmissionPaysTiers"><span>Nature Transmission Pays Tiers</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="delaiConservation"><span>Delai Conservation</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="echange"><span>Echange</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="traitement.id"><span>Traitement</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let donneePersonnelle of donneePersonnelles ;trackBy: trackId">
                <td><a [routerLink]="['../donnee-personnelle', donneePersonnelle.id ]">{{donneePersonnelle.id}}</a></td>
                <td>{{donneePersonnelle.nom}}</td>
                <td>{{donneePersonnelle.categorieFonctionnelle}}</td>
                <td>{{donneePersonnelle.categorieRGPD}}</td>
                <td>{{donneePersonnelle.source}}</td>
                <td>{{donneePersonnelle.vulnerable}}</td>
                <td>{{donneePersonnelle.destinataire}}</td>
                <td>{{donneePersonnelle.natureTransmissionPaysTiers}}</td>
                <td>{{donneePersonnelle.delaiConservation}}</td>
                <td>{{donneePersonnelle.echange}}</td>
                <td>
                    <div *ngIf="donneePersonnelle.traitement">
                        <a [routerLink]="['../traitement', donneePersonnelle.traitement?.id ]" >{{donneePersonnelle.traitement?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../donnee-personnelle', donneePersonnelle.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'donnee-personnelle/'+ donneePersonnelle.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'donnee-personnelle/'+ donneePersonnelle.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="donneePersonnelles && donneePersonnelles.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
