<div>
    <h2>
        <span>Numero Affaires</span>
        <button class="btn btn-primary float-right jh-create-entity create-numero-affaire" [routerLink]="['/', { outlets: { popup: ['numero-affaire-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Numero Affaire
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="numeroAffaires">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nom"><span>Nom</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="projet.id"><span>Projet</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let numeroAffaire of numeroAffaires ;trackBy: trackId">
                <td><a [routerLink]="['../numero-affaire', numeroAffaire.id ]">{{numeroAffaire.id}}</a></td>
                <td>{{numeroAffaire.nom}}</td>
                <td>
                    <div *ngIf="numeroAffaire.projet">
                        <a [routerLink]="['../projet', numeroAffaire.projet?.id ]" >{{numeroAffaire.projet?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../numero-affaire', numeroAffaire.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'numero-affaire/'+ numeroAffaire.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'numero-affaire/'+ numeroAffaire.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="numeroAffaires && numeroAffaires.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
